.Periodic-table{
  margin: 'auto';
  text-align: center;
  display: inline-block;
  flex-grow: 1;
}

.card1 {
  display: grid;
  grid-template-columns: repeat(18, auto);
  grid-gap: 1.5px;
  padding: 10px;
}

#He {
  grid-column-start: -2;
}

#B,
#Al {
  grid-column-start: 13;
}

.blackButton{
  cursor: pointer;
  width: 5vw;
  height: 5.5vw;
  padding: 2px;
  color: white;
  border: 0.5px solid white;
  border-width: 1px;
  border-radius: 10px;
  opacity: 0.7;
  box-shadow: 0px 0px 8px grey;
}
.blackButton:hover {
  box-shadow: 0px 0px 5px #00ffff;
  border: 1px solid #00ffff;
}

.gravityLayer:hover {
  box-shadow: 0px 0px 5px #00ffff;
  border: 1px solid #00ffff;
}

.yellowButton{
  cursor: pointer;
  width: 5vw;
  height: 5.5vw;
  padding: 2px;
  border: 0.5px solid white;
  border-radius: 10px;
  background-color: #f6f8f8;
}

.button-container {
  padding: 20px;
}

.button-create:hover {
  transform: translateY(-7px);
}

.bin:hover {
  transform: translateY(-7px);
}

.number {
  float: left;
  margin: 2px;
  font-size: 1vw;
  position: absolute;
}
.number:hover {
  
}

.symbol {
  font-weight: bold;
  text-align: center;
  margin-top: 1vw;
  font-size: 2vw;
}
.symbol:hover {
  
}

.element-name {
  font-size: 0.8vw;
  text-align: center;
}
.element-name:hover {
  
}

.result-count {
  text-align: center;
  color: black;
  padding-bottom: 10px;
  padding-top: 10px;
}

.menu-header-text{
  flex-grow: 1;
}

.canvas-wrapper {
  padding-top: 20px;

}

.formula{
  padding-left: 100px;
  padding-right: 6px;
  font-size: 15px;
}

.icon {
  margin-left: -10px;
}

.root {
  display: flex;
}

.toolbar {
  
  display: flex;
  position: relative;
}

.drawerPaper{
  position: relative;
  -moz-only-whitespace: nowrap;
  width: 71;
};

.content {
  flex-grow: 1;
  height: 100vh;
}
.container {
  padding-top: 70px;
}
.paper {
  display: flex;
  padding-top: 6px;
  padding-left: 6px;
  flex-direction: column;
}

.filterField {
  margin: 10px;
  border: 0.5px solid #e4dada;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #e4dada;
}

.MuiExpansionPanelSummary-content > p {
  color: rgb(152, 150, 150);
  font-size: 15px;
  font-weight: bold;
}
