.table-wrapper {
  margin: "auto";
  text-align: center;
  display: inline-block;
  flex-grow: 1;
  padding-left: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}

.periodic-table {
  background-color: rgba(255, 255, 255, 0.4);
}

.card1 {
  display: grid;
  grid-template-columns: repeat(18, auto);
  grid-gap: 1.5px;
  padding: 10px;
}

#He {
  grid-column-start: -2;
}

#B,
#Al {
  grid-column-start: 13;
}

.not-selected-element {
  cursor: pointer;
  width: 5vw;
  height: 5.5vw;
  padding: 2px;
  color: white;
  border: 0.5px solid white;
  border-width: 1px;
  border-radius: 10px;
  opacity: 0.7;
  box-shadow: 0px 0px 8px grey;
}
.not-selected-element:hover {
  box-shadow: 0px 0px 5px #00ffff;
  border: 1px solid #00ffff;
}

.gravityLayer:hover {
  box-shadow: 0px 0px 5px #00ffff;
  border: 1px solid #00ffff;
}

.selected-element {
  cursor: pointer;
  width: 5vw;
  height: 5.5vw;
  padding: 2px;
  border: 0.5px solid white;
  border-radius: 10px;
  background-color: #f6f8f8;
}

.button-container {
  padding: 20px;
}

.button-create:hover {
  transform: translateY(-7px);
}

.bin:hover {
  transform: translateY(-7px);
}

.number {
  float: left;
  margin: 2px;
  font-size: 1vw;
  position: absolute;
}
.number:hover {
}

.symbol {
  font-weight: bold;
  text-align: center;
  margin-top: 1vw;
  font-size: 2vw;
}
.symbol:hover {
}

.element-name {
  font-size: 0.8vw;
  text-align: center;
}
.element-name:hover {
}

.result-count {
  text-align: center;
  color: black;
  padding-bottom: 10px;
  padding-top: 10px;
}

.menu-header-text {
  flex-grow: 1;
}

.canvas-wrapper {
  padding-top: 20px;
}

.formula {
  padding-left: 100px;
  padding-right: 6px;
  font-size: 15px;
}

.icon {
  margin-left: -10px;
}

.root {
  display: flex;
}

.toolbar {
  display: flex;
  position: relative;
}

.drawerPaper {
  position: relative;
  -moz-only-whitespace: nowrap;
  width: 71;
}

.content {
  flex-grow: 1;
  height: 100vh;
}
.container {
  padding-top: 70px;
}
.paper {
  display: flex;
  padding-top: 6px;
  padding-left: 6px;
  flex-direction: column;
  height: 50px;
  width: 250px;
}

.MuiGrid-conatiner {
  text-align: "center";
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}

.filterField {
  width: 300px;
  margin: 10px;
  border: 0.5px solid #e4dada;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #e4dada;
}

.MuiExpansionPanelSummary-content > p {
  padding-top: 10px;
  color: rgb(152, 150, 150);
  font-size: 15px;
  font-weight: bold;
}
#panel1bh-header {
  min-height: 30px;
  height: 40px;
}

.sunburstMiddleText {
  margin-top: -300px;
  padding-left: 125px;
  color: black;
  position: absolute;
}

.outterCircle {
  width: 110px;
  height: 110px;
  background-color: #80deea;
  border-radius: 50%;
  box-shadow: 0px 0px 8px #009faf;
}

.innerCircle {
  margin: 5;
  width: 100;
  height: 100;
  background-color: #009faf;
  display: inline-block;
  border-radius: 50%;
}

.applyResetButtonContainer {
  text-align: right;
  padding-right: 10;
}

.breadcrumbs {
  color: rgb(152, 150, 150);
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
}

.group-info-sunburst {
  width: 220px;
  text-align: justify;
}

.group-info-sunburst > p {
  font-size: 12px;
}

.hintTextContainer1 {
  display: "flex";
  color: black;
  background: white;
  align-items: "center";
  padding: 5px;
  border-radius: 5px;
}

.hintTextContainer2 {
  height: 10px;
  width: 10px;
}

.hintBar {
  font-size: 12px;
  color: white;
}

.tableBackground {
  background-position: center;
  background-position-y: 10px;
  background-repeat: no-repeat;
}

.navmenu {
  width: 15%;
}

.mapContainer {
  position: absolute;
  left: 10%;
  right: 1%;
  width: 84%;
  top: 15%;
  bottom: 2.5%;
  border-radius: 10px;
}

img {
  max-width: 200px;
  max-height: 200px;
}

.mapboxgl-popup-content {
  min-width: 240px;
  min-height: 210px;
  background: rgba(255, 255, 255, 0);
  color: rgb(177, 14, 82);
  padding: 20px 20px 20px 20px;
  font: 12px "Proxima Nova Lt", sans-serif;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 10px;
  border-spacing: 10px;
}

.mapboxgl-popup-content .caption {
  position: absolute;
  min-width: 200px;
  bottom: 0%;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}
.mapboxgl-popup-content .caption h1 {
  padding-left: 10px;
  font: 16px "Proxima Nova Lt", sans-serif;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: transparent;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: transparent;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: transparent;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: transparent;
}

hr.MuiDivider-middle {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 0px;
  margin-right: 0px;
}

div.stats-page-container {
  padding-top: 80px;
  padding-left: 80px;
  padding-bottom: 10px;
  display: grid;
}

p.barchart-title {
  font-size: 15px;
  color: #b5b0b0;
  padding-bottom: 10;
  font-weight: bold;
  align-self: center;
}

p.barchart-legend {
  font-size: 12px;
  color: #b5b0b0;
  font-weight: bold;
}

div.minerals-list{
  position: relative;
  height: 140px;
  width: 350px;
  border-radius: 15px;
  padding: 5px;
  flex-direction: column;
  background: "white"
}

div.barchart-container{
  height: 280px;
  width: 350px;
  border-radius: 15px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 30px;
  display: "flex";
  overflow: "auto";
  flex-direction: column;
  background: white;
  text-align: center;
}

button.apply-reset{
  margin-left: 10px;
  background: #009faf;
  border-radius: 25px;
  border: 0px;
  color: white;
  height: 40px;
  box-shadow: 0 3px 5px 2px rgba(33, 203, 243, .3);
  transition: all 0.3s ease 0s;
  font-weight: bold;
}

button.apply-reset:hover {
  transform: translateY(-7px);
  background: #009faf;
}

p.filter-properties{
  font-size: 11px;
  font-style: italic; 
}

div.properties-select{
  height: 3px;
  width: 80px;
}

main.main-stats{
  height: 100%;
  background-size: cover;
}
