#He {
  grid-column-start: -2;
}

#B,
#Al {
  grid-column-start: 13;
}

.gravityLayer:hover {
  box-shadow: 0px 0px 5px #00ffff;
  border: 1px solid #00ffff;
}

.canvas-wrapper {
  padding-top: 20px;
}

.drawerPaper {
  position: relative;
  -moz-only-whitespace: nowrap;
  width: 71;
}

.MuiGrid-conatiner {
  text-align: "center";
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}

.filter-field {
  width: 280px;
  margin: 10px;
  border: 0.5px solid #e4dada;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #e4dada;
}

.MuiExpansionPanelSummary-content > p {
  padding-top: 10px;
  color: rgb(152, 150, 150);
  font-size: 15px;
  font-weight: bold;
}
#panel1bh-header {
  height: 50px;
}

.sunburst-image-wrapper {
  margin-top: -300px;
  padding-left: 125px;
  color: black;
  position: absolute;
}

.sunburst-hint-container-outter {
  display: "flex";
  color: black;
  background: white;
  align-items: "center";
  padding: 5px;
  border-radius: 5px;
}

.sunburst-hint-container-inner {
  height: 10px;
  width: 10px;
}

.mapContainer {
  position: absolute;
  width: 63%;
  top: 15%;
  bottom: 6%;
  border-radius: 10px;
}

.mapboxgl-popup-content {
  min-width: 240px;
  min-height: 210px;
  background: rgba(255, 255, 255, 0);
  color: rgb(177, 14, 82);
  padding: 20px 20px 20px 20px;
  font: 12px "Proxima Nova Lt", sans-serif;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 10px;
  border-spacing: 10px;
}

.mapboxgl-popup-content .caption {
  position: absolute;
  min-width: 200px;
  bottom: 0%;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}
.mapboxgl-popup-content .caption h1 {
  padding-left: 10px;
  font: 16px "Proxima Nova Lt", sans-serif;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: transparent;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: transparent;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: transparent;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: transparent;
}

hr.MuiDivider-middle {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 0px;
  margin-right: 0px;
}

div.stats-page-container {
  padding-top: 80px;
  padding-left: 80px;
  padding-bottom: 10px;
  display: grid;
}


p.barchart-title {
  font-size: 15px;
  color: #b5b0b0;
  padding-bottom: 10;
  font-weight: bold;
  align-self: center;
}

p.barchart-legend {
  font-size: 12px;
  color: #b5b0b0;
  font-weight: bold;
}

div.minerals-list {
  position: relative;
  height: 140px;
  width: 350px;
  border-radius: 15px;
  padding: 5px;
  flex-direction: column;
  background: "white";
}

div.barchart-container {
  height: 280px;
  width: 350px;
  border-radius: 15px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 30px;
  display: "flex";
  overflow: "auto";
  flex-direction: column;
  background: white;
  text-align: center;
}

p.filter-properties {
  font-size: 11px;
  font-style: italic;
}

div.properties-select {
  height: 3px;
  width: 80px;
}

div.search-properties-select {
  width: 80px;
}

main.main-stats {
  height: 100%;
  background-size: cover;
}

div.result-item-wrapper {
  height: 140px;
  width: 300px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
}

div.search-results-container {
  height: 350px;
  flex-grow: 1;
  overflow: auto;
}

div.grid-conatiner {
  text-align: center;
}

span.MuiListItemText-primary {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

div.map-minerals-list {
  position: relative;
  height: 430px;
  width: 350px;
  border-radius: 15px;
  padding: 5px;
  flex-direction: column;
  background: "white";
}
